<header>
    <nav>
        <a href="/">Ryan Obman</a>
        <ul>
            <li><a href="/posts">Blog Posts</a></li>
            <li><a href="/posts/new">Add Posts</a></li>
        </ul>
    </nav>
</header>