<h2>Search Posts</h2>
<form action="/posts" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<% searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% posts.forEach(post => { %>
    <div><%= post.name %></div>
<% }) %>